<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE CLIENTES</a>
 
  </nav>

  <div class="agregar_contenedor"></div>
  <div class="row mt-5">
    <div class="card">
      <div class="card-body">
        <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate>
  
          <div class="form-group">
            <label for="" class="control-label" hidden>ID Cliente</label>
            <input type="text" readonly="readonly" [(ngModel)]="user.num_clie" name="num_clie" class="form-control" hidden>
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">ID Empresa</label>
            <input type="number" [(ngModel)]="user.idempresa" name="idempresa" placeholder="Digite el ID de la Empresa" class="form-control" required>
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">ID Sucursal</label>
            <input type="number" [(ngModel)]="user.idsuc" name="idsuc" placeholder="Digite el ID de la Sucursal" class="form-control" required>
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Identidad</label>
            <input type="text" [(ngModel)]="user.identidad" name="identidad" placeholder="Digite el número de identidad" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">RTN</label>
            <input type="text" [(ngModel)]="user.rtn" name="rtn" placeholder="Digite el RTN" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Fecha de Nacimiento</label>
            <input type="date" [(ngModel)]="user.fecha_nac" name="fecha_nac" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Nombre</label>
            <input type="text" [(ngModel)]="user.nombre" name="nombre" placeholder="Digite el nombre" class="form-control">
            <div ng-show="!user.nombre && formulario.$submitted" class="alert alert-warning">Digite el nombre del cliente</div>
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Teléfono</label>
            <input type="text" [(ngModel)]="user.telefono" name="telefono" placeholder="Digite el teléfono" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Dirección</label>
            <input type="text" [(ngModel)]="user.direccion" name="direccion" placeholder="Digite la dirección" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Correo</label>
            <input type="text" [(ngModel)]="user.correo" name="correo" placeholder="Digite el correo" class="form-control">
          </div>
  
          <div class="form-group">
            <label for="" class="control-label">Fecha de Creación</label>
            <input type="date" [(ngModel)]="user.fecha_creacion" name="fecha_creacion" class="form-control">
          </div>


          <button type="submit" class="btn btn-primary" formnovalidate value="Save" onclick="javascript:alert('Registro Almacenado')">
            Agregar
          </button>
        </form>
      </div>
    </div>
  </div>
  <br>

  <div class="form-group">
    <input type="text" class="form-control" name="filterPost" placeholder="Digite el nombre del cliente que desea buscar" [(ngModel)]="filterPost">
  </div>

 <div class="container">  
    <div class="row mt-25">          
   <table class="table table-borbered table-hover">
     <thead>
        <tr>
            <th>NO</th>
            <th>ID EMPRESA</th>
            <th>ID SUCURSAL</th>
            <th>IDENTIDAD</th>
            <th>RTN</th>          
            <th>FECHA NACIMIENTO</th>
            <th>NOMBRE</th>
            <th>TELEFONO</th>
            <th>DIRECCION</th>
            <th>CORREO</th>
            <th>FECHA CREACION</th>
            <th>ESTADO</th>
  
        </tr>
  
      </thead>
    <tbody >
  
                <tr *ngFor="let User of TUser | filterclientes:filterPost">
                    <td >{{User.num_clie}}</td>
                    <td >{{User.idempresa}}</td>
                    <td >{{User.idsuc}}</td>
                    <td >{{User.identidad}}</td>
                    <td >{{User.rtn}}</td>
                    <td >{{User.fecha_nac}}</td>
                    <td >{{User.nombre}}</td>
                    <td >{{User.telefono}}</td>
                    <td >{{User.direccion}}</td>
                    <td >{{User.correo}}</td>
                    <td >{{User.fecha_creacion}}</td>
                    <td >{{User.estado}}</td>
                    <td><button  class="btn btn-danger"  (click)="EliminarData(User.num_clie)" onclick="javascript:alert('Registro Eliminado')" >Eliminar</button> </td>
                    <td>
                        <button  class="btn btn-success" [routerLink]="['/clientes/edit', User.num_clie]">Actualizar</button></td>
                  </tr>
  
     </tbody>
   </table>
</div>
</div>

