<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">SUCURSALES</a>
  </nav>
  
  <div class="row mt-5">
    <div class="card">
      <div class="card-body">
        <form action="">
            <div class="form-group">
                <label for="" class="control-label" hidden>Registro No.</label>
                      <input type="text"  readonly="readonly"  [(ngModel)]="user.idsuc" name="idsuc" placeholder="No" class="form-control" required hidden>
                      </div>                  
    
                  <div class="form-group">
                      <label for="" class="control-label">ID Empresa</label>
                      <input type="text"  [(ngModel)]="user.idempresa"  name="idempresa" placeholder="DIGITE EL ID DE LA EMPRESA"  class="form-control" autofocus>
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label">Sucursal</label>
                    <input type="text"  [(ngModel)]="user.sucursal"  name="sucursal" placeholder="DIGITE LA SUCURSAL"  class="form-control" autofocus>
                    
                  </div>
                  <div class="form-group">
                    <label for="" class="control-label">Dirección</label>
                    <input type="text"  [(ngModel)]="user.dirsuc"  name="dirsuc" placeholder="DIGITE LA DIRECCION"  class="form-control" autofocus>
                </div>
    
                    <div class="form-group">
                      <label for="" class="control-label">Telefono</label>
                      <input type="text"  [(ngModel)]="user.telefono"  name="telefono" placeholder="DIGITE EL TELEFONO"  class="form-control" autofocus>
                  </div>
                
              <button class="btn btn-success btn-block" (click)="updateUser()" onclick="javascript:alert('Registro Actualizado')">
                Actualizar
              </button>    
        </form>
      </div>
    </div>
  </div>

