<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">REGISTRO DE PROVEEDORES</a>
 
  </nav>

  <div class="agregar_contenedor"></div>
<div class="row mt-5">
<div class="card">
    <div class="card-body">
        <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate >
          <div class="form-group">
            <label for="" class="control-label" hidden>Registro No.</label>
                  <input type="text"  readonly="readonly"  [(ngModel)]="user.idprov" name="idprov" placeholder="No" class="form-control" required hidden>
                  </div>                  

                  <div class="form-group">
                    <option>Seleccione la Empresa</option>
                      <select class="form-control" size="1" [(ngModel)]="user.idempresa" name="idempresa" required>
                             <option *ngFor="let lista of Empresalist" value={{lista.idempresa}}>{{lista.nombre}}</option>
                    </select>
                  </div>


              <div class="form-group">
                <label for="" class="control-label">Proveedor</label>
                <input type="text"  [(ngModel)]="user.proveedor"  name="proveedor" placeholder="DIGITE EL PROVEEDOR"  class="form-control" autofocus>
                <div ng-show="!user.proveedor && formulario.$submitted" class="alert alert-warning">Digite el nombre del proveedor</div>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Direccion</label>
                <input type="text"  [(ngModel)]="user.direccion"  name="direccion" placeholder="DIGITE LA DIRECCION"  class="form-control" autofocus>
              </div>

              <div class="form-group">
                <label for="" class="control-label">Telefono</label>
                <input type="text"  [(ngModel)]="user.telefono"  name="telefono" placeholder="DIGITE EL TELEFONO"  class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Responsable</label>
                <input type="text"  [(ngModel)]="user.responsable" name="responsable" placeholder="DIGITE EL RESPONSABLE"  class="form-control" autofocus>
            </div>

            <div class="form-group">
                <label for="" class="control-label">Fecha Creacion</label>
                <input type="date"  [(ngModel)]="user.fecha_creacion"  name="fecha_creacion" placeholder="Seleccione la Fecha" class="form-control">
            </div>   

            <div class="form-group">
                <label for="" class="control-label">Observaciones</label>
                <input type="textarea"  [(ngModel)]="user.observaciones"  name="observaciones" placeholder="OBSERVACIONES"  class="form-control" autofocus>
           </div>
            
          <button type="submit" class="btn btn-primary" formnovalidate value="Save"  onclick="javascript:alert('Registro Almacenado')">
              Agregar
          </button>
        </form>
    </div>
</div>
</div>

<br>

<div class="form-group">
  <input type="text" class="form-control" name="filterPost" placeholder="Digite el proveedor que desea buscar" [(ngModel)]="filterPost">
</div>

<button (click)="exportToExcel()" class="btn btn-secondary">Exportar a Excel</button>
&nbsp;&nbsp; <button class="btn btn-dark" (click)="openPDF()">Descargar PDF</button>

 <div class="container">  
    <div class="row mt-25">          
   <table class="table table-borbered table-hover" id="tabla">
     <thead>
        <tr>
            <th>NO</th>
            <th>EMPRESA</th>
            <th>PROVEEDOR</th>
            <th>DIRECCION</th>
            <th>TELEFONO</th>          
            <th>RESPONSABLE</th>
            <th>FECHA CREACION</th>
            <th>OBSERVACIONES</th>
            <th>ESTADO</th>
  
        </tr>
  
      </thead>
    <tbody >
  
                <tr *ngFor="let User of TUser | filterproveedor:filterPost">
                    <td >{{User.idprov}}</td>
                    <td >{{ getNombreEmpresaPorId(User.idempresa) }}</td>
                    <td >{{User.proveedor}}</td>
                    <td >{{User.direccion}}</td>
                    <td >{{User.telefono}}</td>
                    <td >{{User.responsable}}</td>
                    <td >{{User.fecha_creacion}}</td>
                    <td >{{User.observaciones}}</td>
                    <td >{{User.estado}}</td>
                    <td>
                    <button  class="btn btn-danger"  (click)="EliminarData(User.idprov)" onclick="javascript:alert('Registro Eliminado')" >Eliminar</button>
                    </td>
                    <td>
                        <button  class="btn btn-success" [routerLink]="['/proveedor/edit', User.idprov]">Actualizar</button>
                    </td>
                  </tr>
     </tbody>
   </table>
</div>
</div>

