<nav class="navbar navbar-dark bg-dark">
    <a href="/" class="navbar-brand">FORMAS DE PAGO</a>
 
  </nav>

  <div class="agregar_contenedor"></div>
<div class="row mt-5">
  <div class="card">
    <div class="card-body">
      <form id="formulario" name="formulario" #f="ngForm" (ngSubmit)="AgregarValor()" novalidate>

        <div class="form-group">
          <label for="" class="control-label" hidden>ID Forma de Pago</label>
          <input type="text" readonly="readonly" [(ngModel)]="user.idfpago" name="idfpago" placeholder="ID" class="form-control" hidden>
        </div>

        <div class="form-group">
          <option>Seleccione la Empresa</option>
            <select class="form-control" size="1" [(ngModel)]="user.idempresa" name="idempresa" required>
                   <option *ngFor="let lista of Empresalist" value={{lista.idempresa}}>{{lista.nombre}}</option>
          </select>
        </div>

        <div class="form-group">
          <label for="" class="control-label">Forma de Pago</label>
          <input type="text" [(ngModel)]="user.formapago" name="formapago" placeholder="DIGITE LA FORMA DE PAGO" class="form-control" required>
          <div ng-show="!user.formapago && formulario.$submitted" class="alert alert-warning">Ingrese la forma de pago</div>
        </div>

        <button type="submit" class="btn btn-primary" formnovalidate value="Save" onclick="javascript:alert('Registro Almacenado')">
          Agregar
        </button>
      </form>
    </div>
  </div>
</div>
<br>

<div class="form-group">
  <input type="text" class="form-control" name="filterPost" placeholder="Digite la forma de pago que desea buscar" [(ngModel)]="filterPost">
</div>



 <div class="container">  
    <div class="row mt-25">          
   <table class="table table-borbered table-hover">
     <thead>
        <tr>
            <th>NO</th>
            <th>EMPRESA</th>
            <th>FORMA PAGO</th>
            <th>ESTADO</th>
  
        </tr>
  
      </thead>
    <tbody >
  
                <tr *ngFor="let User of TUser | filterformapago:filterPost">
                    <td >{{User.idfpago}}</td>
                    <td >{{ getNombreEmpresaPorId(User.idempresa) }}</td>
                    <td >{{User.formapago}}</td>
                    <td >{{User.estado}}</td>
                    <td><button  class="btn btn-danger"  (click)="EliminarData(User.idfpago)" onclick="javascript:alert('Registro Eliminado')" >Eliminar</button> </td>
                    <td>
                        <button  class="btn btn-success" [routerLink]="['/formapago/edit', User.idfpago]">Actualizar</button></td>
                  </tr>
  
     </tbody>
   </table>
</div>
</div>

